.wrapper {
  margin:20;
  padding:20;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);

}

.hidden1 {
  display: none
}

.hidden2 {
  display: none
}

.hidden-room-1 {
  display: none
}

.hidden-room-2 {
  display: none
}

.hidden-room-3 {
  display: none
}